.container {

  display: flex;

}
body {
  -webkit-animation: colorchange 60s infinite;
  animation: colorchange 60s infinite;
  margin:auto;

  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Helvetica neue, roboto;
}
@-webkit-keyframes colorchange {
     0%  {background: #33FFF3;}
    25%  {background: #78281F;}
    50%  {background: #117A65;}
    75%  {background: #DC7633;}
    100% {background: #9B59B6;}
}


.grid {
  margin-top: 25px;
  margin-left: 400px;
  width: 200px;
  height: 400px;
  background-color: yellow;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.grid div {

  height: 20px;
  width: 20px;

}

.tetromino {
  background-color: blue;

}

.mini-grid {
  margin-top: 25px;
  margin-left: 50px;

  border: 2px solid black;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.mini-grid div {
width: 20px;
height: 20px;
}

h3 {
  /*margin-left: 320px;*/
  font-weight: 200;
  font-style: 26px;

}

button {
  /*margin-left: 310px;*/
  border: 1px solid green;
}
